<article class="{{post_class}} post-preview">
  <header class="post-header">
    <h1><a href="{{url}}" class="permalink">{{title}}</a></h1>
  </header>

  <div class="post-content">
  {{excerpt}}
  </div>

  <div class="post-links">
    <a href="{{url}}">Read more</a>
    {{#author}}
      <a href="{{url}}">More by {{name}}</a>
    {{/author}}
  </div>
</article>
