{{!< default}}

{{# author}}
  <h1>By {{name}}</h1>
{{/author}}

{{#foreach posts}}
  <article class="{{post_class}}">
    <h2><a href="{{url}}" class="permalink">{{title}}</a></h2>
    <p>
      {{content}}
      <a href="{{url}}">Permalink</a>
    </p>
  </article>
{{/foreach}}

{{pagination}}
